body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
